body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 5px;
}
h1 {
  margin-top: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fcfcfc;
  text-align: center;
  margin-bottom: 0px;
  text-transform: uppercase;
  filter: blur(0.9px);
  font-weight: 100;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.container {
  width: 100%;
  max-width: 955px;
  height: 70vh;
  display: block;
  margin: auto;
  border: 2px solid rgb(235, 229, 229);
  overflow-y: auto;
  color: rgb(227, 236, 244);
}

.message {
  background-color: rgb(24, 24, 62);
  width: 24%;
  padding: 5px;
  margin: 5px 5px;
  border: 2px solid black;
  font-family: "Times New Roman", Times, serif;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}

#send-container {
  bottom: 1px;
  max-width: 1000px; /*Setting the width of a block-level element will prevent it from stretching out to the edges of its container.Using max-width instead, in this situation, will improve the browser's handling of small windows. This is important when making a site usable on small devices: */
  width: 100%;
  display: block; /* comes to center */
  margin: auto;
  text-align: center;
}

#message-input {
  flex-grow: 1;
  margin-top: 2px;
  border: 2px solid #c0c0c0;
  width: 80%;
  height: 40px;
  background-color: black;
  color: aliceblue;
  font-size: 20px;
}
#send-button {
  cursor: pointer;
  border: 2px solid rgb(4, 130, 130);
  border-radius: 6px;
  height: 40px;
  width: 9%;
  border-radius: 17px;
  margin-bottom: 1px;
  margin-top: 1px;
  color: rgb(4, 130, 130);
  background-color: black;
  transition: 1s;
}
#send-button:hover {
  letter-spacing: 0.15em;
  box-shadow: 0 2px 5px 0 rgb(4, 130, 130) inset, 0 2px 5px rgb(4, 130, 130),
    0 2px 5px 0 rgb(4, 130, 130) inset, 0 2px 5px rgb(4, 130, 130);
}

/* .container div {
  background-color: rgb(139, 3, 85);
  padding: 5px;
  color: rgb(255, 255, 255);
  margin-right: 50px;
  width: 100%;
}

.container div:nth-child(2n) {
  background-color: rgb(36, 27, 27);
  margin-right: 50px;
  width: 100%;
} */

